
*{
	padding: 0px;
	margin: 0px;

}
body{
	background-color: #7F7DC8FF;
}
.container{
	width: 1500px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
	
}
.photo__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
	border: 2px solid black;
	margin-bottom: 30px;
	padding: 25px;
}
.photo__press>img{
	width: 95%;
	height: auto;
	margin-bottom: 10px;

}
.photo__press{
	height: 80%;
}
.photo__item>button{
	margin-bottom: 15px;
	display: block;

}